
body{
  font-family: Arial, Helvetica, sans-serif;
}
/* shared style  */
.display-flex{
  display: flex;
}
/* colors */
/* dark-1 */
.text-gray{
  color: rgba(0, 0, 0, 0.5);
}
.text-light-gray{
  color:#8987A1 ;
}
.text-orange{
  color: #E95A08;
}
.text-black{
  color: black;
}



/* navbar */
.nav{
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.manu{
font-family: Arial, Helvetica, sans-serif;
align-items: center;
gap: 50px;
}
.manu-content{
  gap: 45px;
}
.manu-list{
  list-style: none;
}
.manu-items{
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1rem;
 color:;
}
.cart-icon{
  gap: 5px;
  align-items: center;
}
.Home{
  font-weight: 600;
}

/* banner section  */

.banner{
  align-items: end;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 150px;
}
.banner-content{
  
}
.banner-title{
  font-family:'Times New Roman', Times, serif;
  font-size:4rem ;

}
.banner-description{
  font-size: 1.4rem;

}

/* plants section  */
.plants{
  max-width: 1140px;
  margin: 0 auto;
}
.plants-content{
  text-align: center;
  margin-top: 100px;
}
.plants-title{
  font-size:3.3rem ;
  font-family:'Times New Roman', Times, serif;
  margin-bottom: ;
}
.plants-description{
  margin-top: -20px;
}

/* cart section  */
.plant-carts{
  margin-top: 70px ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  

}
.plant-cart{
  text-align: center;
  margin-bottom: 10px;
}

.cart-title{
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 30px;
}
.cart-price{
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: -15px;
  margin-bottom: 25px;
}

/* btn primary  */
.btn-primary{
  background-color:#E95A08 ;
  color: white;
  border: none;
  padding: 19px 80px;
  font-size: 1rem;
  font-weight: 550;
}

.plants-lover{
  
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px ;
  gap: 70px;

}

.image-section-2{
  position: relative;
  display: inline-block;
}
.f-lover-img-1{
  /* width: 30%; */
  
  
}
.f-lover-img-2{
  width: 60%;
  position: absolute;
  top: -25%;
  right: -20%;
  z-index: 1;
}
.plants-lover-title{
  font-size: 3.3rem;
  font-family: 'Times New Roman', Times, serif;
}
.plants-lover-description{
  font-size: 1.4rem;
  margin-bottom: 50px;
  
}
.plants-description-list{
  margin-bottom: 25px;
}

/* deals section  */
.latest-deals{
  max-width: 1140px;
  margin: 0 auto;
  
}
.deal-title{
  font-size:50px ;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 100px;
}
.deal-description{
  margin-top: -20px;
  font-size: 1.4rem;
  text-align: center;
}
.deals{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  
}
.deal-ana-bloom{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  
  
}
.deal-img{
   filter: brightness(60%);
   border-radius: 20px;
   
}
.bloom-d{
  text-align: center;
  color: white;
  position: absolute;
  top: 10%;
  right: 75%;
}
.ana-d{
  text-align: center;
  color: white;
  position: absolute;
  top: 62%;
  right: 76%;
}
.zabo-d{
  text-align: center;
  color: white;
  position: absolute;
  top: 35%;
  right: 17%;
}
.bloom-d-title{
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem ;
}
.bloom-d-description{
  margin-top: -17px;
  font-size: 1rem;
  text-decoration: underline;
}
.ana-d-title{
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem ;
}
.ana-d-description{
  margin-top: -17px;
  font-size: 1rem;
  text-decoration: underline;
}

.zabo-d-title{
  font-family: 'Times New Roman', Times, serif;
  font-size:2.5rem ;
}
.zabo-d-description{
  margin-top: -17px;
  font-size: 1.6rem;
  text-decoration: underline;
}

/* subscribe section  */
.Sub-full-section{
  /* max-width: 1140px;
  margin: 0 auto; */
  position: relative;
  margin-top: 100px;

}

.Sub-full-section >img{
  width: 100%;
  
}
.subscribe-section{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 27%;
  right: 25%;
  justify-content: center;
  
}
.subscribe-title{
  color: white;
  font-size: 2.8rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
.input-email{
  font-size: 1rem;
  padding: 19px 450px 19px 20px;
  border: none;
  background-color: white;
  margin-right: 2px;
  
}


/* footer section  */
footer{
  
  max-width: 1140px;
  margin: 0 auto;
  gap:100px ;
  margin-top: 50px;
  color: #a0a0a0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}
.footer-map{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #a9a9a9;
  
  
}
.map-list{
  list-style: none;
  margin-bottom:30px ;
  white-space: nowrap;
}
.map-content{
  text-decoration: none;
  color: #ababab;
  font-weight: 400;
}


.footer-icon{
  margin-left: 20px;

}

@media screen and (max-width:576px) {

  .nav{
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 40px;
}
  .manu-content{
  display: none ;
}
.manu{
  
flex-direction: column;
gap: -100px;
}
.brand >img{
width: 50%;
}
 .nav{
  gap: ;
 } 
 /* banner-section  */
 .banner{
  margin-top: 28px;
  flex-direction:column-reverse;
 }
 .banner-title{
  margin-top: 40px;
  font-size:2rem ;

}
/* plants section  */

.plants-title{
  font-size: 2rem;
}
/* cart section  */
.plant-carts{
  margin-top: 70px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.plant-cart{
  text-align: center;
  margin-bottom: 10px;
}
.plant-cart >img{
  width: 100%;
}

.cart-title{
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 30px;
}
.cart-price{
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: -25px;
  margin-bottom: 25px;
}

/* btn primary  */
.btn-primary{
  background-color:#E95A08 ;
  color: white;
  border: none;
  padding: 18px 30px;
  width: 100%;
  font-size: 1rem;
  font-weight: 550;
}


}